rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /banks/{bank} {
    	allow read: if true;
    	allow write: if false;
    }
    match /sellers/{seller} {
    	allow read: if request.auth != null && request.auth.uid == seller;
      allow write: if false;
    }
    match /items/{item} {
    	allow read, write: if request.auth != null && request.auth.uid == resource.data.sid;
    }
    match /inventories/{item} {
    	allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow write: if false;
    }
    match /orders/{order} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow write: if false;
    }
    match /payments/{payment} {
      allow read: if true;
      allow write: if false;
    }
    match /thaiQR/{thaiQR} {
      allow read: if request.auth != null && request.auth.uid == resource.data.uid;
      allow write: if false;
    }
    match /paymentConfirms/{paymentConfirm} {
      allow read, write: if false;
    }
  }
}